body {
    margin: 0;
    background: #0f0f0f;
    color: #d4af37;
    font-family: georgia, serif;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 10px 60px;
    border-bottom: 1px solid #d4af37;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo span {
    font-weight: normal;
    font-size: 14px;
}
.brand_logo {
    width: 28px;
    height: auto;
    border: 1px;
    border-radius: 50px;
    filter: brightness(1.2);
}
nav a {
    color: #d4af37;
    margin-left: 25px;
    text-decoration: none;
}
.hero {
    display: flex;
    padding: 5px 5px;
    gap: 40px;
    border-bottom: #d4af37 solid 1px;
}
.hero_text {
    flex: 1;
}
.hero_text h2 {
    font-size: 48px;
}
.hero_text p {
    margin: 20px 0;
    font-size: 18px;
}
.hero_text a {
    background: #d4af37;
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #d4af37;
    text-decoration: none;
    color: #0f0f0f;
}
.hero_image {
    flex: 1;
}

.hero_image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}
.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 80px auto;
    max-width: 1200px;
}
.feature {
    border: 1px solid #d4af37;
    text-align: center;
    padding:50px 30px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .feature img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 20px;
    display: block;
    }
    .feature p {
        color: #d4af37;
        font-size: 16px;
        letter-spacing: 0.8px;
        margin: 0;
    }
.testimonial {
    border-top: #d4af37 solid 1px;
    text-align: center;
    font-style: italic;
    padding: 60px;
    font-size: 20px;
}
.cta {
    background: linear-gradient(to right, #d4af37, #bb7d01);
    color: #0f0f0f;
    padding: 12px 30px;
    text-align: center;
}
.cta p {
    font-size: 18px;
    font-style: italic;
}
.cta button {
    background: #0f0f0f;
    color: #fff;
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.foot {
    border-top: 1px solid #d4af37;
    color: #d4af37;
    text-align: center;
}
.foot a {
    color: #d4af37;
    text-decoration: none;
}
    